<header>
  {{!-- Title --}}
  <div class="text-center site-title title-brand">
    <h1>PetSchedule</h1>
  </div>
</header>
<div class="bg-size">
  <div class="site-bg"></div>
</div>

{{!-- Info Section --}}
<main class="site-main">
  <div class="container">
    <div id="info-1" class="row align-items-center justify-content-between py-5">
      <div class="col-md-6 main-images mx-auto mr-md-auto">
        <div style="max-width: 380px;">
          <img src="/images/img-1.jpg" alt="..." class="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6 mx-auto ml-md-auto text-center p-3 text-md-left site-info">
        <h1 class="py-3">Ligado no seu pet</h1>
        <p class="py-3">Em nossa plataforma você tem controle de tudo do seu pet, em seu dashboard você se mantém
          organizado para cada próxima tarefa de seus bichinhos.</p>
      </div>
    </div>
    <div id="info-2" class="row align-items-center py-5">
      <div class="col-md-6 main-images mx-auto mr-md-auto order-md-2">
        <div style="max-width: 380px;">
          <img src="/images/img-2.jpg" alt="..." class="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6 mx-auto mr-md-auto text-center p-3 text-md-right site-info order-md-1">
        <h1 class="py-3">Cuide de todos eles</h1>
        <p class="py-3">Nós sabemos o quão especial cade um deles são, por isso você pode organizar cada detalhe deles
          separadamente, garantindo que todos recebam a mesma quantidade de amor.</p>
      </div>
    </div>
    <div id="info-3" class="row align-items-center justify-content-between py-5">
      <div class="col-md-6 main-images mx-auto mr-md-auto">
        <div style="max-width: 380px;">
          <img src="/images/img-3.jpg" alt="..." class="" style="width: 100%;">
        </div>
      </div>
      <div class="col-md-6 mx-auto ml-md-auto text-center p-3 text-md-left site-info">
        <h1 class="py-3">Google Sync</h1>
        <p class="py-3">Além da facilidade de se cadastrar com sua conta já existente, você pode ter seu PetSchedule
          sincronizado com o Google e todos os eventos em sua Google Calendar.</p>
      </div>
    </div>
  </div>
</main>

{{!-- Modal Entrar --}}
<div class="modal fade" id="modalEntrar" tabindex="-1" role="dialog" aria-labelledby="modalEntrarTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEntrarTitle">Entrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/auth/login" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" placeholder="seuemail@email.com" name="username" class="form-control"
              aria-describedby="emailHelp" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" placeholder="suasenha" name="password" class="form-control" required>
          </div>
          {{#if message}}
            <p class="text-center error-msg" id="errorMessageLogin">{{message}}</p>
          {{/if}}
          <button type="submit" class="btn btn-main btn-block">Entrar</button>
        </form>
      </div>
      <div class="modal-footer d-block">
        <form action="/auth/google" method="GET">
          <button type="submit" class="btn btn-primary btn-block">Entrar com Google</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Modal Cadastrar-se --}}
<div class="modal fade" id="modalCadastrar-se" tabindex="-1" role="dialog" aria-labelledby="modalCadastrar-seTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCadastrar-seTitle">Cadastrar-se</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/auth/signup" method="POST">
          <div class="form-group">
            <label for="exampleInputName">Nome</label>
            <input type="text" placeholder="Seu Nome" name="name" class="form-control" id="exampleInputName" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" placeholder="seuemail@email.com" name="email" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu email com mais
              ninguém.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" placeholder="suasenha" name="password" class="form-control"
              id="exampleInputPassword1" required>
          </div>
          {{#if messageSignUp}}
            <p class="text-center error-msg" id="errorMessageSignUp">{{messageSignUp}}</p>
          {{/if}}
          <button type="submit" class="btn btn-main btn-block">Cadastrar-se</button>
        </form>
      </div>
      <div class="modal-footer d-block">
        <form action="/auth/google" method="GET">
          <button type="submit" class="btn btn-primary btn-block">Cadastrar-se com Google</button>
        </form>
      </div>
    </div>
  </div>
</div>