  <header class="site-header">
  {{!-- Title --}}
  <div class="container d-flex justify-content-center align-items-center text-center site-title pb-5">
    <div class="row">
      <div class="col-12">
        <h1 class="display-1 my-5">Titulo</h1>
        <h2 class="my-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, id.</h2>
        <a href="#" class="btn btn-lg btn-main my-5">Botão</a>
      </div>
    </div>
  </div>
</header>

<main class="site-main">
  <div class="container">
    <div class="row align-items-center justify-content-between py-5">
      <div class="col-md-4 main-images mx-auto mr-md-auto">
        <img
          src="https://images.pexels.com/photos/130768/pexels-photo-130768.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
          alt="..." class="img-thumbnail">
      </div>
      <div class="col-md-8 mx-auto ml-md-auto text-center p-3 text-md-left site-info">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores a fuga dolorem sint similique soluta ratione
          quas obcaecati pariatur voluptate!</p>
      </div>
    </div>
    <div class="row align-items-center py-5">
      <div class="col-md-8 mx-auto mr-md-auto text-center p-3 text-md-right site-info">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores a fuga dolorem sint similique soluta ratione
          quas obcaecati pariatur voluptate!</p>
      </div>
      <div class="col-md-4 main-images mx-auto ml-md-auto">
        <img
          src="https://images.pexels.com/photos/130768/pexels-photo-130768.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
          alt="..." class="img-thumbnail">
      </div>
    </div>
    <div class="row align-items-center py-5">
      <div class="col-md-4 main-images mx-auto mr-md-auto">
        <img
          src="https://images.pexels.com/photos/130768/pexels-photo-130768.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
          alt="..." class="img-thumbnail">
      </div>
      <div class="col-md-8 mx-auto ml-md-auto text-center p-3 text-md-left site-info">
        <h1>Título</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores a fuga dolorem sint similique soluta ratione
          quas obcaecati pariatur voluptate!</p>
      </div>
    </div>
  </div>
</main>