<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f093f525b1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Pets</title>
</head>

<body>
  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="far fa-calendar-check"></i> Pets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{#if isLogged}}
            <li class="nav-item">
              <a class="nav-link" href="/user">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Sair</a>
            </li>
          {{else}}
            <li class="nav-item" data-toggle="modal" data-target="#modalEntrar">
              <a class="nav-link" href="#">Entrar</a>
            </li>
            <li class="nav-item" data-toggle="modal" data-target="#modalCadastrar-se">
              <a class="nav-link" href="#">Cadastrar-se</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>


  <!-- Modal Entrar -->
  <div class="modal fade" id="modalEntrar" tabindex="-1" role="dialog" aria-labelledby="modalEntrarTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEntrarTitle">Entrar</h5>
        </div>
        <div class="modal-body">
          <form action="/auth/login" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn-main">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Cadastrar-se -->
  <div class="modal fade" id="modalCadastrar-se" tabindex="-1" role="dialog" aria-labelledby="modalCadastrar-seTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCadastrar-seTitle">Cadastrar-se</h5>
        </div>
        <div class="modal-body">
          <form action="/auth/signup" method="POST">
            <div class="form-group">
              <label for="exampleInputName">Nome</label>
              <input type="text" name="name" class="form-control" id="exampleInputName" required>
            </div>
            {{!-- <div class="form-group">
              <label for="exampleInputUsername">Username</label>
              <input type="text" name="username"class="form-control" id="exampleInputUsername" required>
            </div> --}}
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                required>
              <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu email com mais
                ninguém.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn-main">Cadastrar-se</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{{body}}}


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>