@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

:root {
  --main-color: #f8981b;
  --main-color-lighter: #f5b25b;
  --secondary-color: #1e1e1e;
  --secondary-color-lighter: #474747;
  --white-color: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: var(--main-color) !important;
}

.navbar-brand {
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 1.6rem;
}

.nav-link {
  font-weight: 600;
}

.site-header {
  /* background-color: var(--secondary-color); */
  position: relative;
  background-image: url('/images/header-background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 4px solid var(--main-color);
}

.site-header::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4))

}

.site-title {
  position: relative;
  height: 100vh;
  color: var(--main-color);
  z-index: 2;
}

.site-title h1, h2 {
  text-shadow: 1px 1px 5px var(--secondary-color-lighter);
}

.btn-main {
  background-color: var(--main-color);
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--main-color);
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 8px;
}

.btn-main:hover {
  background-color: var(--main-color-lighter);
  color: var(--secondary-color);
  text-decoration: none;
}

.site-main {
  background-color: var(--white-color);
}

.main-images {
  max-width: 400px;
}

.site-info > h1 {
  font-size: 3.8rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.site-info > p {
  font-size: 1.1rem;
  color: var(--secondary-color);
}
